.p1{
	font-size: 15px;
}
.mar_0{
	margin-top: 0;
}
.mart_20{
	margin-top: 20px;
}
.img1_warp{
	width:30px;
	height:30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	height:60px;
}
